:host {
  display: block;
  margin: 0 auto;
  border-radius: 15px 15px 0 0;
  max-width: 950px;
  background-color: #e9e1d6;
  color: #333333;

  header,
  section,
  app-search-bar,
  footer {
    padding: 0 100px;
    word-break: break-word;
    @media screen and (max-width: 900px) {
      padding: 0;
    }
  }

  header {
    border-radius: 15px 15px 0 0;
    background-color: #fefcf7;
    .title {
      display: flex;
      justify-content: space-between;
      h1 {
        @media screen and (max-width: 900px) {
          font-size: 20px;
        }
      }
      .slogan {
        margin-top: 18px;
        width: 300px;
        text-align: right;
        .text {
          @media screen and (max-width: 900px) {
            display: none;
          }
        }
      }
    }
    @media screen and (max-width: 900px) {
      padding: 10px;
    }
  }
  section.main-content {
    padding-bottom: 20px;
  }
}

// Общин стили для всех элементов приложения
::ng-deep {
  button {
    border: none;
    border-radius: 6px;
    padding: 8px 12px;
    margin: 12px 0;
    color: white;
    font-weight: 100;
    background-color: #d99064;
    cursor: pointer;
    background-position: center;
    transition: background 0.8s;
    &:disabled {
      color: #e0e0e0;
      background-color: #ada5a0;
      box-shadow: 0 5px 7px 0 #868686 inset;
    }
    &:not(:disabled):hover {
      background: #d99064 radial-gradient(circle, transparent 1%, #e3baa3 1%) center/15000%;
    }
    &:not(:disabled):active {
      background-color: #d36a2c;
      background-size: 100%;
      transition: background 0s;
    }
  }

  h1 {
    font-weight: 100;
  }
  input,
  select,
  textarea {
    font-size: 16px;
    font-family: sans-serif;
    color: #555555;
    outline-style: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    outline-offset: 0;
    background-color: transparent;
    border-radius: 8px;
    padding: 8px 12px;
    &:not(:first-child) {
      margin-left: 6px;
    }
    &:not(:last-child) {
      margin-right: 6px;
    }
    & option {
      height: 100px;
      background-color: #e5e2df;
    }
  }
  .link {
    cursor: pointer;
    color: #333333;
    &:not(h1) {
      text-decoration: underline;
    }
  }
  a {
    color: #333333;
  }
}
