:host {
  display: block;
  max-width: 950px;
  padding: 0 100px;
  margin: 0 auto;
  @media screen and (max-width: 768px) {
    padding: 0 12px;
  }
  background-color: #e9e1d6;
  color: #333333;

  header {
    display: flex;
    justify-content: space-between;
    .slogan {
      margin-top: 18px;
      width: 220px;
    }
  }
}
