:host {
  display: block;
  margin-bottom: 100px;
  section {
    border-radius: 6px;
    margin: 135px auto;
    padding: 20px 50px;
    background-color: #fefcf7;
    box-shadow: -15px 15px 20px 0px rgba(34, 60, 80, 0.2);
    @media screen and (max-width: 900px) {
      padding: 10px 10px;
    }
  }

  input.code {
    font-size: 50px;
    width: 240px;
    &::placeholder {
      color: #e0e0e0;
    }
  }
}
