  section {
    border-radius: 6px;
    margin: 40px auto;
    padding: 20px 50px;
    background-color: #fefcf7;
    box-shadow: -15px 15px 20px 0px rgba(34, 60, 80, 0.2);

    .form-row{
      display: flex;
      justify-content: space-between;
      margin: 20px 0;
      & :nth-child(2){
        width: 70%;
      }
    }
  }
