@if (editablePostId) {
  <br />
  <a [routerLink]="['/', 'post', editablePostId]">Вернуться к посту</a>
}
<section>
  @if (postForm) {
    <form [formGroup]="postForm" (ngSubmit)="onSubmit()" class="post-form">
      <div class="form-row">
        <label
          >Заголовок:
          @if (postForm.get('title')?.invalid && postForm.get('title')?.touched) {
            <small>Обязательно</small>
          }
        </label>
        <input type="text" formControlName="title" />
      </div>

      <div class="form-row">
        <label>Описание:</label>
        <textarea formControlName="description"></textarea>
      </div>

      <div class="form-row">
        <label>Цена:</label>
        <input type="number" step="50" formControlName="price" />
      </div>

      <div class="form-row">
        <label>Категория:</label>
        <select formControlName="category">
          @for (item of postService.categories; track item) {
            <option [value]="item | category">{{ item | category }}</option>
          }
        </select>
      </div>

      <div class="form-row">
        <label>Район:</label>
        <input type="text" formControlName="district" />
      </div>

      <div class="form-row">
        <div></div>
        <label>
          <input type="checkbox" formControlName="notifyNeighbors" /> Уведомить соседей
        </label>
      </div>

      @if (error) {
        <div class="status-bar">{{ error }}</div>
      }
      @if (!loading) {
        <button type="submit" [disabled]="postForm.invalid">Сохранить изменения</button>
      }
      @if (editablePostId && !loading) {
        &nbsp;
        @if (deleteWarning) {
          <br />
          Вы точно уверены что хотите удалить объявление ? Данные будут потеряны.
          <br />
          <button class="gray" type="button" (click)="deleteWarning = false">Отмена</button> &nbsp;
        }

        <button [class.delete]="deleteWarning" type="button" (click)="onPostDelete()">
          {{ !deleteWarning ? 'Удалить объявление' : 'Да уверен! Удалить!' }}
        </button>
      }
    </form>
  }
  @if (loading) {
    <app-loading></app-loading>
  }
</section>
