.map-wrapper {
  position: relative;
  .map {
    height: 500px;
    padding: 0;
  }
  .over-map-bar {
    background-color: #fefcf7;
    width: 100%;
    height: 17px;
    position: absolute;
    bottom: 0;
    z-index: 1000;
  }
}
