:host {
  section {
    border-radius: 6px;
    margin: 35px -50px;
    padding: 20px 50px;
    background-color: #fefcf7;
    box-shadow: -15px 15px 20px 0px rgba(34, 60, 80, 0.2);
    display: flex;
    justify-content: space-between;
    img {
      height: 200px;
      width: auto;
    }
    .description {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      text-align: right;
      width: 40%;

      & .title {
        display: flex;
        justify-content: space-between;
        & h3 {
          margin-top: 0;
          display: inline;
        }
      }

      & .price {
        margin: 30px 0;
        font-size: 32px;
        font-weight: 500;
      }
      & .createdAt {
        color: #999999;
        font-size: 12px;
        font-weight: 700;
      }
    }
  }
}
