:host {
  a {
    color: #333333;
    text-decoration: none;
  }

  .tooltip-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: #333333;
    
    &:hover {
      opacity: 0.8;
    }
  }

  .tooltip-text {
    visibility: hidden;
    width: 180px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -90px;
    opacity: 0;
    transition: opacity 0.5s;
    font-size: 12px;
  }

  .tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
  
  // Анимация загрузки
  .loading-indicator {
    display: inline-block;
    animation: pulse 1.5s infinite;
  }

  @keyframes pulse {
    0% { opacity: 0.6; }
    50% { opacity: 1; }
    100% { opacity: 0.6; }
  }
}