:host {
  a {
    color: #333333;
    text-decoration: none;
  }

  .tooltip-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: #333333;
    &:hover {
    }
    .blur-mask {
      pointer-events: none;
      & > div {
        position: absolute;
        display: inline-block;
        height: 100%;
        right: 0;
        backdrop-filter: blur(2px);
        mask: linear-gradient(to left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);

        &:nth-of-type(1) {
          width: 90px;
          z-index: 3;
        }
        &:nth-of-type(2) {
          width: 60px;
          z-index: 2;
        }
        &:nth-of-type(3) {
          //backdrop-filter: blur(0.5px);

          z-index: 1;
        }
      }
    }
  }

  .tooltip-text {
    visibility: hidden;
    width: 180px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -90px;
    opacity: 0;
    transition: opacity 0.5s;
    font-size: 12px;
  }

  .tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }

  // Анимация загрузки
  .loading-indicator {
    display: inline-block;
    animation: pulse 1.5s infinite;
  }

  @keyframes pulse {
    0% {
      opacity: 0.6;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.6;
    }
  }
  .error {
    color: #d99064;
    font-size: 11px;
  }
}
