<nav>
  <div>
    <input type="text" placeholder="Поиск" />
  </div>
  <div>
    <select>
      <option value="">Все объявления</option>
      <option value="молочная продукция">Молочная продукция</option>
      <option value="мясная продукция">Мясная продукция</option>
      <option value="мёд">Мёд</option>
    </select>
    <select>
      <option value="[53.221187,50.625772]">Кинель</option>
      <option value="[53.270082,50.583010]">Усть-Кинельский</option>
      <option value="[53.253653,50.492068]">Алексеевка</option>
    </select>
  </div>
</nav>
