<nav>
  <div>
    <input
      type="text"
      placeholder="Поиск"
      [(ngModel)]="postService.searchBar.q"
      (ngModelChange)="listReload()"
    />
  </div>
  <div>
    <select [(ngModel)]="postService.searchBar.category" (ngModelChange)="listReload()">
      <option [ngValue]="undefined">Все объявления</option>
      @for (item of postService.categories; track item) {
        <option [ngValue]="item | category">{{ item | category }}</option>
      }
    </select>
    <select [(ngModel)]="locationStr" (ngModelChange)="changeLocation($event)">
      @for (location of locationOptions; track location) {
        <option [ngValue]="location.value">{{ location.name }}</option>
      }
    </select>
  </div>
</nav>
