:host {
  padding: 0 100px;
  nav {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 900px) {
      display: block;
      input {
        margin-top: 5px;
        width: calc(90% - 25px);
      }
      & select {
        width: 90%;
        display: block;
        margin-top: 5px;
        &:not(:first-child) {
          margin-left: 0;
        }
      }
    }
  }
}
